.tasks-page {
    padding: 20px;

    .columns {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
}
